<h1>Rails Bridge Open Jobs</h1>
<table class="table">
  <thead>
    <th>Job Title</th>
    <th>Job Description</th>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job %></td>
        <td><%= job.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>