<h1>Rails Bridge Open Jobs</h1>
<table class="table" id="jobs_table">
  <thead>
    <th>Job Title</th>
    <th class="no-sort">Job Description</th>
    <th>Base Salary</th>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job %></td>
        <td><%= job.description %></td>
        <td><%= number_to_currency(job.salary, precision: 0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>